.b {
  border: 2px solid black;
}

.mt-n1 {
  margin-top: -27rem !important;
}
.mt-n2 {
  margin-top: -2rem !important;
}
.mt-n3 {
  margin-top: -10rem !important;
}

.z {
  position: relative;
  z-index: 100;
}
/* Image classes */
.blue_block {
  position: relative;
  z-index: 10;
  width: 97%;
}
.banner_img1 {
  position: relative;
  z-index: 1000;
}

/* Sticky Banner CSS */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

.icon-bar {
  position: fixed;
  top: 80%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  z-index: 10;
}
.Alertbar {
  position: fixed;
  top: 40%;

  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  z-index: 10;
}
.a2 {
  text-decoration: none;
  width: 15.625rem;
  /*  */

  height: 15.625rem;
  background: #f12d2d;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.3125rem;
  font-size: 1.25rem;
  transform: translateX(-10.625rem);
  -webkit-transform: translateX(-13rem);
  -ms-transform: translateX(-10.625rem);
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
}

.a1 {
  text-decoration: none;
  width: 13.125rem;
  /*  */

  background: #3b5999;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.3125rem;
  font-size: 1.25rem;
  transform: translateX(-10.625rem);
  -webkit-transform: translateX(-10.625rem);
  -ms-transform: translateX(-10.625rem);
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
}

.facebook {
  background: #3b5998;
}
.twitter {
  background: #00aced;
}

.instagram {
  background: #e4405f;
}

.youtube {
  background: #cd201f;
}

.linkedin {
  background: #0077b5;
}
.a2 i {
  color: white;
  padding-left: 0.5rem;
  font-size: 1.875rem !important;
  animation: letszoom 1.5s linear alternate-reverse infinite;
}
.orient {
  text-orientation: upright;
  writing-mode: vertical-rl;
  font-weight: 600;
}
.a1 i {
  padding-left: 1.25rem;
  font-size: 1.875rem !important;
  animation: letszoom 3s linear alternate-reverse infinite;
}

@keyframes letszoom {
  from {
    transform: scale(0.6);
  }

  to {
    transform: scale(1);
  }
}
.a2:hover {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
}
.a1:hover {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
}
/* Sticky Banner CSS ENDS */

@media only screen and (max-width: 1026px) {
  #fadeshow1 {
      display: none;
  }
}